<!DOCTYPE HTML>
<html>
    <head>
        <title>Proj4: Leases</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <tr>
              <td>Category</td>
              <td>Residence Hall</td>
              <td>Furnished Apartment</td>
            </tr>
            <tr th:each="lease : ${leases}">
                <td th:text="${lease.category}"/>
				        <td th:text="${lease.resHall}"/>
                <td th:text="${lease.furnApt}"/>
            </tr>
        </table>
    </body>
</html>
