<!DOCTYPE HTML>
<html>
  <head>
    <title>Proj4: Managers and Phone Numbers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Phone</td>
      </tr>
      <tr th:each="manager : ${managers}">
         <td th:text="${manager.firstname}"</td>
		     <td th:text="${manager.lastname}"</td>
		     <td th:text="${manager.phone}"</td>

      </tr>
	  </tr>
    </table>
  </body>
</html>
