<!DOCTYPE HTML>
<html>
  <head>
    <title>Proj4: Overdue Invoices</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Apt/Hall Number</td>
        <td>Room Number</td>
        <td>Amount</td>
      </tr>
      <tr th:each="invoice : ${invoices}">
         <td th:text="${invoice.firstName}"/>
		     <td th:text="${invoice.lastName}"/>
		     <td th:text="${invoice.hallId}"/>
		     <td th:text="${invoice.roomNo}"/>
         <td th:text="${invoice.rate}"/>
      </tr>
	  </tr>
    </table>
  </body>
</html>
